.container{
    display: flex;
    flex-wrap: wrap;   
    width: 1000px;
    align-items: center;
}

.squares{
    border: 1px solid black;
    box-sizing: border-box;
    /* width: 50px;
    height: 50px */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
}